In [2]:
import numpy as np
import pandas as pd
import matplotlib as mlt
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("student_info.csv")

In [4]:
df

     study_hours  student_marks
0           6.83          78.50
1           6.56          76.74
2            NaN          78.68
3           5.67          71.82
4           8.67          84.19
..           ...            ...
195         7.53          81.67
196         8.56          84.68
197         8.94          86.75
198         6.60          78.05
199         8.35          83.50

[200 rows x 2 columns]

In [5]:
df.isna().sum()

study_hours      5
student_marks    0
dtype: int64

In [6]:
df['study_hours']=df['study_hours'].fillna(df["study_hours"].mean())

In [7]:
df.isna().sum()

study_hours      0
student_marks    0
dtype: int64

In [8]:
X=df["study_hours"]
y=df["student_marks"]
from sklearn.model_selection import  train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:


model = LinearRegression()

In [14]:
model.fit(X_train, y_train)

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.

In [15]:
df.info()
df.head()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   study_hours    200 non-null    float64
 1   student_marks  200 non-null    float64
dtypes: float64(2)
memory usage: 3.3 KB

     study_hours  student_marks
195         7.53          81.67
196         8.56          84.68
197         8.94          86.75
198         6.60          78.05
199         8.35          83.50

In [6]:
df.describe()

       study_hours  student_marks
count   195.000000      200.00000
mean      6.995949       77.93375
std       1.253060        4.92570
min       5.010000       68.57000
25%       5.775000       73.38500
50%       7.120000       77.71000
75%       8.085000       82.32000
max       8.990000       86.99000